extends layout

block content
      #fh5co-main
        .fh5co-narrow-content
          h2.fh5co-heading.animate-box(data-animate-effect='fadeInLeft') Projects
          h4.fh5co-heading.animate-box(data-animate-effect='fadeInLeft')=message ? message : ''
          .row.row-bottom-padded-md
            //-Mixin looper: it loops through projects array from routes/index.js
            mixin project-setup(project) 
              .col-md-3.col-sm-6.col-padding.text-center.animate-box
                a.work.image-popup(href='', data-toggle='modal', data-target='#'+project.id , style='background-image: url(/images/'+ (project.image == '' ? 'img-1.jpg' : project.image ) + ');')
                  .desc
                    h3= project.name
                    //- span= project.description
                    span= project.date
                    span= project.tech
              .modal.fade(id=project.id,tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
                .modal-dialog.modal-lg
                  .modal-content(role='document')
                    .modal-header
                      button.close(data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    - var carouselName = project.id + "Indicator"
                    if project.extraImage
                      - var images = [project.image].concat(project.extraImage)
                    else
                      - var images = [project.image]
                    .modal-body
                      .row.row-bottom-padded-md
                        .col-md-6
                          //- | #{images.length}
                          .carousel.slide(id=carouselName, data-ride='carousel', style="align-content: center;", data-interval="false")
                            //- ol.carousel-indicators
                              each val, index in images
                                if index == 0 
                                  li(data-target="#"+carouselName, data-slide-to=index, class="active")
                                else
                                  li(data-target="#"+carouselName, data-slide-to=index)
                            .carousel-inner
                              each val, index in images
                                if index == 0 
                                  .item.active
                                    a.work(style='background-image: url(/images/'+ (val == '' ? 'img-1.jpg' : val ) + ');')
                                else if index > 0 && val
                                  .item
                                    a.work(style='background-image: url(/images/'+ (val == '' ? 'img-1.jpg' : val ) + ');')

                            if images.length > 1
                              a.left.carousel-control(href="#"+carouselName, data-slide="prev")
                                i.icon-chevron-left(style="font-size: 50px;")
                                span.sr-only Previous
                              a.right.carousel-control(href="#"+carouselName, data-slide="next")
                                i.icon-chevron-right(style="font-size: 50px;")
                                span.sr-only Next
                          //- a.work.image-popup(style='background-image: url(/images/'+ (project.image == '' ? 'img-1.jpg' : project.image ) + ');')
                        .col-md-6
                          h2.fh5co-heading= project.name
                          p=project.description 
                          p= 'Created in: ' + project.date
                          if project.code
                            p= 'Technologies used:'
                              for code in project.code
                                i.modal-icon(class=code.name)
                    .modal-footer
                      if project.web
                        a.btn(href=project.web, title='Live Demo')
                          i.icon-monitor
                          | Live Demo
                      a.btn(href=project.link, title='Source Code')
                        i.icon-eye-outline
                        | Source
            for project in projects
              +project-setup(project)
        //- .fh5co-narrow-content.animate-box(data-animate-effect='fadeInLeft')
          .row
            .col-md-4
              h2 Get In Touch
              
            form(action='/project', method='post')
              .row
                .col-md-12
                  .row
                    .col-md-6
                      .form-group
                        input.form-control(type='text', name="name", placeholder='Project Title')
                      .form-group
                        input.form-control(type='text', name="date", placeholder='Project Date')
                    .col-md-6
                      .form-group
                        textarea#message.form-control(name='description', cols='30', rows='7', placeholder='Description')
                      .form-group
                        input.btn.btn-primary.btn-md(type='submit', value='Send Message')
        #get-in-touch
          .fh5co-narrow-content
            .row
              .col-md-4.animate-box(data-animate-effect='fadeInLeft')
                h1.fh5co-heading-colored Get in touch
            .row
              .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
                p.fh5co-lead
                  | If you want to get in touch with me, click the button underneath to go see my contact information.
                p
                  a.btn.btn-primary(href='/contact') Contact
          

      // jQuery
      script(src='/js/jquery.min.js')
      // jQuery Easing
      script(src='/js/jquery.easing.1.3.js')
      // Bootstrap
      script(src='/js/bootstrap.min.js')
      // Waypoints
      script(src='/js/jquery.waypoints.min.js')
      // Flexslider
      script(src='/js/jquery.flexslider-min.js')
      // MAIN JS
      script(src='/js/main.js')